<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h1>Nome</h1>
            <H4>Tipo</H4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader class="bg">Pages</h2>

    <a mat-list-item routerLinkActive='list-item-active' routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive='list-item-active' routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive='list-item-active' routerLink="/default/clientes">Clientes</a>
    <a mat-list-item routerLinkActive='list-item-active' routerLink="/default/vendas">Vendas</a>

    <h2 matSubheader class="bg">Contatos</h2>

    <a mat-list-item routerLinkActive='list-item-active' routerLink="/contatos">
        <mat-icon>import_contacts</mat-icon> Contatos
    </a>

    <a mat-list-item routerLinkActive='list-item-active' routerLink="/contatos">
        <mat-icon>contact_phone</mat-icon> Telefones
    </a>

</mat-nav-list>