<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="toggleSideBar()">
        <mat-icon>menu</mat-icon>
    </button>

    <span>Logo</span>

    <div fxFlex fxLayout="row" fxLayoutAlign="end">
        <ul fxLayout="row" fxLayoutGap="20px">
            <li>
                <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </li>
            <li>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
                </button>
            </li>

            <li>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon (click)="sair()" routeLink="/">exit_to_app</mat-icon>
                        Sair
                    </button>

                </mat-menu>
            </li>
        </ul>


    </div>
</mat-toolbar>