


<div [formGroup]='formulario' style="display: flex; justify-content: center; align-items: center;">
    <mat-form-field appearance="legacy" style="width: 50%; margin-top: 20px;" >

        <mat-label>Localize Cliente</mat-label>
        <input matInput placeholder="Pesquise aqui" formControlName="cliente"  >


    </mat-form-field>
   
    <button mat-raised-button color="warn" style="width: 20%; margin-left: 20px; margin-top: 5px;" (click)='filtro()'>Pesquise </button>

</div>


<section>   
  
    <div class="tbl-header" >
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Data</th>
            <th>Cliente</th>
            <th>Contato</th>
            <th>Total</th>
            <th>Entrada</th>
            <th>Devedor</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody *ngFor=" let user of todos; let i = index">
          <tr (click)=veUser(user._id)>
            <td>{{user.criado.split('T')[0].split('-')[2] }} / {{user.criado.split('T')[0].split('-')[1]}}</td>
            <td >{{user.cliente}}</td>
            <td>{{user.contato }}</td>
            <td><span style="padding: 10px; font-weight: bold;">R$ {{user.valorTotal}}</span> </td>
            <td><span style="padding: 10px; font-weight: bold;">R$ {{user.valorEntrada}}</span></td>
            <td><span style="background-color: rgb(223, 67, 67);padding: 10px; font-weight: 900;">R$ {{user.valorDevedor}}</span></td>

          </tr>       
         
       
        </tbody>
      </table>
    </div>
  </section>
  
  
  <!-- follow me template -->
  <div class="made-with-love">
    Flor de maracuja
    <i>♥</i>
  </div>