<div>
    <app-area></app-area>
</div>

<mat-divider></mat-divider>

<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px" class="starts-cards">
    <mat-card fxFlex='25'>
        <app-card>Login</app-card>
    </mat-card>
    <mat-card fxFlex='25'>
        <app-card>Login</app-card>
    </mat-card>
    <mat-card fxFlex='25'>
        <app-card>Login</app-card>
    </mat-card>
    <mat-card fxFlex='25'>
        <app-card>Login</app-card>
    </mat-card>
</div>

<mat-divider></mat-divider>


<div>
    <div>Line1</div>
    <div>Line1</div>

</div>